

@font-face{
    font-family: Abel;
    src: url('../fonts/Abel/Abel.ttf');
}



@font-face{
    font-family: Anton;
    src: url('../fonts/Anton/Anton.ttf');
}

@font-face{
    font-family: Sans;
    src: url('../fonts/Sans/JosefinSans-Regular.ttf');
}